---
import Layout from "@/layouts/Layout.astro";
import Header from "@/sections/Header.astro";
import Me from "@/sections/Me.astro";
import Experience from "@/sections/Experience.astro";
import Projects from "@/sections/Projects.astro";
import AboutMe from "@/sections/AboutMe.astro";
import Skills from "@/sections/Skills.astro";
import Contact from "@/sections/Contact.astro";
import Footer from "@/sections/Footer.astro";
import Message from "@/components/Message.astro";
---

<!-- Portafolio de Alan Rios -->
<Layout
	title="Portafolio - Alan Rios"
	description="Portafolio de Alan Rios, mostrando mis habilidades, proyectos y experiencia en desarrollo web."
>
	<div class="flex flex-col pt-18 gap-5">
		<!-- Encabezado del sitio (navbar) -->
		<Header />

		<div
			class="flex flex-col lg:flex-row items-start justify-center px-4 md:px-10 lg:px-20 xl:px-32 max-w-screen-xl mx-auto gap-10 md:gap-20"
		>
			<main
				class="w-full lg:flex-1 flex flex-col gap-5 order-2 lg:order-none"
			>
				<Me />
				<Experience />
				<Projects />
				<AboutMe />
				<Skills />
				<Contact />
			</main>
		</div>

		<!-- Pie de página -->
		<Footer />

		<!-- Contenedor para notificaciones -->
		<Message />
	</div>
</Layout>
