---
import Layout from "../layouts/Layout.astro";
import Header from "@/sections/Header.astro";
import Experience from "@/sections/Experience.astro";
import Projects from "@/sections/Projects.astro";
import AboutMe from "@/sections/AboutMe.astro";
import Skills from "@/sections/Skills.astro";
import Footer from "@/sections/Footer.astro";
---

<Layout>
	<div class="flex flex-col min-h-screen">
		<Header />
		<Experience />
		<Projects />
		<AboutMe />
		<Skills />
		<Footer />
	</div>
</Layout>
