---
const year = new Date().getFullYear();
---

<footer
    class=" text-gray-800 py-4 dark:text-white transition-colors duration-300"
>
    <div class="container mx-auto text-center space-y-1">
        <p>
            &copy; {year} Alan Rios Mendoza. Todos los derechos reservados.
        </p>
        <p>
            <a
                href="mailto:miduga@gmail.com"
                class="text-gray-600 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white transition"
            >
                Contacto
            </a>
            <span class="mx-1 text-gray-500 dark:text-gray-400">|</span>
            <a
                href="#sobre-mi"
                class="text-gray-600 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white transition"
            >
                Sobre mí
            </a>
        </p>
    </div>
</footer>
