---
import Background from "@/components/Background.astro";
import "@/styles/global.css";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="author" content="Alan Rios" />
		<meta
			name="keywords"
			content="Alan Rios, Portafolio, Desarrollo Web, Programador, Frontend, Backend"
		/>
	</head>
	<body>
		<Background />
		<slot />
	</body>
	<style>
		html {
			scroll-behavior: smooth;
		}
	</style>
</html>
